# Terraform
.terraform/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
*.tfvars

# Python / Flask
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
ENV/

# IDE
.vscode/
*.code-workspace
.idea/

# OS
.DS_Store
Thumbs.db
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
